<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<context:component-scan base-package="br.com.citel.monitoramento" />
	<tx:annotation-driven />

	<jpa:repositories base-package="br.com.citel.monitoramento.repository.autcom"
		entity-manager-factory-ref="autcomEntityManagerFactory"
		transaction-manager-ref="autcomTM">
	</jpa:repositories>

	<jpa:repositories base-package="br.com.citel.monitoramento.repository.portal"
		entity-manager-factory-ref="portalEntityManagerFactory"
		transaction-manager-ref="portalTM">
	</jpa:repositories>

	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="order" value="1" />
		<property name="locations">
			<list>
				<value>classpath:Monitor.ini</value>
			</list>
		</property>
	</bean>

	<bean
		class="br.com.citel.monitoramento.util.DbPropertySourcesPlaceholderConfigurer">
		<property name="order" value="2" />
		<property name="placeholderPrefix" value="%{" />
		<property name="placeholderSuffix" value="}" />
		<property name="empresaFisica" value="001" />
	</bean>

	<bean id="autcomDS" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://vmcitel:${portAutc}/${dataAutc}" />
		<property name="user" value="${userAutc}" />
		<property name="password" value="${passAutc}" />
		<property name="maxStatements" value="500" />
		<property name="maxIdleTime" value="1800" />
		<property name="maxPoolSize" value="50" />
		<property name="minPoolSize" value="5" />
		<property name="initialPoolSize" value="5" />
		<property name="acquireIncrement" value="3" />
		<property name="idleConnectionTestPeriod" value="3000" />
	</bean>

	<bean id="autcomTM" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="autcomEntityManagerFactory" />
	</bean>

	<bean id="autcomEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceXmlLocation" value="classpath:persistence.xml" />
		<property name="persistenceUnitName" value="autcomPU" />
		<property name="dataSource" ref="autcomDS" />
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.connection.charSet">UTF-8</prop>
				<prop key="hibernate.connection.defaultNChar">true</prop>
			</props>
		</property>
	</bean>

	<bean id="portalDS" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://%{CFG_IP_CIT}:%{CFG_PORCIT}/%{CFG_DATCIT}" />
		<property name="user" value="%{CFG_USUCIT}" />
		<property name="password" value="%{CFG_PASCIT}" />
		<property name="maxStatements" value="500" />
		<property name="maxIdleTime" value="1800" />
		<property name="maxPoolSize" value="50" />
		<property name="minPoolSize" value="5" />
		<property name="initialPoolSize" value="5" />
		<property name="acquireIncrement" value="3" />
		<property name="idleConnectionTestPeriod" value="3000" />
	</bean>



	<bean id="portalTM" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="portalEntityManagerFactory" />
	</bean>

	<bean id="portalEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceXmlLocation" value="classpath:persistence.xml" />
		<property name="persistenceUnitName" value="portalPU" />
		<property name="dataSource" ref="portalDS" />
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.connection.charSet">UTF-8</prop>
				<prop key="hibernate.connection.defaultNChar">true</prop>
			</props>
		</property>
	</bean>

	<bean id="sourceDS" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://%{CFG_IP_CIT}:%{CFG_PORCIT}/%{AUTCOM_VERSAO}" />
		<property name="user" value="%{CFG_USUCIT}" />
		<property name="password" value="%{CFG_PASCIT}" />
		<property name="maxStatements" value="500" />
		<property name="maxIdleTime" value="1800" />
		<property name="maxPoolSize" value="50" />
		<property name="minPoolSize" value="5" />
		<property name="initialPoolSize" value="5" />
		<property name="acquireIncrement" value="3" />
		<property name="idleConnectionTestPeriod" value="3000" />
	</bean>
	
	<bean id="sourceJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg type="javax.sql.DataSource" ref="sourceDS"/>
	</bean>

	<bean id="targetJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg type="javax.sql.DataSource" ref="autcomDS"/>
	</bean>


	<bean class="br.com.citel.monitoramento.DatabaseMonitor"
		init-method="run">
		<property name="monitoraDatabase" value="%{CFG_MONDTA}" />
		<property name="cnpjEmpresa" value="%{EMP_C_G_C_}"></property>
	</bean>

	<bean class="br.com.citel.monitoramento.BackupMonitor"
		init-method="run">
		<property name="monitoraBackup" value="%{CFG_MONBKP}" />
		<property name="backupPath" value="${pathBckp}" />
		<property name="cnpjEmpresa" value="%{EMP_C_G_C_}" />
	</bean>

	<bean class="br.com.citel.monitoramento.HDMonitor" init-method="run">
		<property name="monitoraHD" value="%{CFG_MON_HD}" />
		<property name="cnpjEmpresa" value="%{EMP_C_G_C_}"></property>
	</bean>

	<bean class="br.com.citel.monitoramento.DatabaseSync" init-method="run">
		<property name="enviaDados" value="%{CFG_MONLNO}" />
		<property name="cnpjEmpresa" value="%{EMP_C_G_C_}"></property>
		<property name="empresaFisica" value="001" />
	</bean>

</beans>
